//
// Button
//

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 2.5rem;
  background: @color-green;
  padding: 0 1em;
  border: solid .3rem #fff;
  box-shadow: .2rem .2rem @color-shadow;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  text-shadow: .1rem .1rem fade(#000, 15%);
  outline: none;
}

@media (hover: hover) {
  .button:hover {
    background-color: darken(@color-green, 8%);
  }
}

//
// Button Close
//

.button-close {
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
    position: relative;
    text-indent: -1000px;
    border: none;
    background: @color-orange;
    border: solid .3rem #fff;
    box-shadow: .2rem .2rem @color-shadow;
    cursor: pointer;
    outline: none;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      background: #fff;
      width: 15%;
      height: 70%;
    }
    &:before {
      transform: translate(-50%,-50%) rotate(-45deg);
    }
    &:after {
      transform: translate(-50%,-50%) rotate(45deg);
    }
  }

  @media (hover: hover) {
    .button-close:hover {
      background-color: darken(@color-orange, 12%);
    }
  }